<!-- Header Custom -->
{% assign locale = site.locale | default: 'en' %}
{% assign sitetext = site.data.sitetext[locale] %}
{% if sitetext.header %}
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-lead-in">{{ sitetext.header.title }}</div>
        <div class="intro-heading text-uppercase">{{ sitetext.header.text }}</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#{{ sitetext.header.buttonlink | remove: '#' }}">{{ sitetext.header.button }}</a>
      </div>
    </div>
  </header>
{% endif %}